html, body, input, select, textarea
{
    font-size: 1.05em !important;
}

body {
    font-family: "Arial", sans-serif;
    background: url(../images/background-loot.jpg);
    overflow: auto;
}

hr{
    margin: 0px;
}

.card {
    background: rgba(0,0,0,.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    margin-bottom: .5em;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2b908f;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 400;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cover{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    /*opacity: .5;*/
    background-size: cover;
    background-image: "images/loading.gif";
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-holder{
    position: absolute;
    left: 0px;
    width: 100%;
    transition: .5s;
    padding-top: .5em;
}

#left-panel{
    /*border-right: 1px solid lightgray;*/
    background-color: white;
    padding: .25em;
    position: fixed;
    left: -242px;
    top: 0;
    z-index: 200;
    width: 300px;
    transition: .5s;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,.3);
    color: white;
}

#filters-holder{
    overflow: auto;
    padding: .5em;
}

#filters-container{
    overflow: auto;
    flex-grow: 1;
    padding: .25em;
}

.filter-items-box{
    overflow: auto;
    max-height: 100px;
}

#show-filters-button{
    width: 50px;
    background-color: #2b908f;
    border: 1px solid #2b908f;
    /*border-radius: .25em;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .25em;
    font-size: 1.25em;
}


/*#show-filters-button:hover{
    background-color: white;
    color: #2b908f;
    transition: .25s;
}*/

#show-filters-button > div{
    transform: rotate(-90deg);
}


/*#apply-filters-button{
    width: 100%;
    margin-bottom: 1em;
    background-color: #67b7dc;
    border-color: #67b7dc;
}*/

.filter-name{
    font-size: 1em;
}

.filter-item-name{
    font-size: .8em;
}

/*
#heading{
    background-color: white;
    text-align: center;
    height: 2em;
}

*/

#timeline-filter, #summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .25em;
}
#timeline-filter > div, #summary > div {
    flex-grow: 1;
    order: 1;
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .25em;
}

#hour-filter{
    /*flex-direction: column;*/
}
#hour-filter div{
    width: 100%;
}

#date-filter{
    padding: 0em;
    border: 1px solid #2b908f;
}
.date-filter-item{
    border-right: 1px solid #2b908f;
    flex-grow: 1;
    padding: .25em;
    text-align: center;
    cursor: pointer;
    border-radius: .1em;
    /*margin: 1px;*/

}
.date-filter-item:last-child{
    border: none;
}

#Total-date-filter-item{
    background-color: #2b908f;
    color: white;
}

.highcharts-container {
    box-shadow: 0 4px 8px rgba(0,0,0,,3);
}

.highcharts-tooltip span {
    background-color: white;
    opacity: 1;
    z-index: 9999 ;
    /*padding: 10px;*/
}

.label {
    z-index: 1 ;
}

.amChartsLegend {
    overflow: auto;
}

div.svg-holder, svg{
    background-color: none;
    color: white;
    /*margin-bottom: 10px;*/
    /*border-radius: 10px;*/
}

div.svg-holder svg{
    padding: 7px;
}
div.svg-holder, #left-panel{
    /*border-radius: 10px;*/
    /*box-shadow: 1px 1px 1px #bdbdbd;*/
    /*border: 1px solid #1abc9c;*/
}

#chart1{
    padding-top: 5px;
    padding-bottom: 5px;
}







