html, body, input, select, textarea
{
    font-size: 1.05em !important;
}

body {
    font-family: "Arial", sans-serif;
    /*width: 98vw;*/
    background: lightgray;
    /*padding : 50px;*/
    overflow: auto;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    /*font-weight: bold;*/

}

#info-popup{
    position: fixed;
    visibility: visible;
    /*width: 400px;*/
    background-color: rgba(52,152,219,.8);
    color: white;
    left: 0;
    top: 0;
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /*height: 50px;*/
    padding: .25em;
    border-radius: 3px;
}

#app-title{
    color: #3498db;
    font-weight: bold;
}
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 500;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cover{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: .5;*/
    background-size: cover;
    background-image: "images/loading.gif";
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-holder{
    position: absolute;
    left: 0px;
    width: 100%;
    transition: .5s;
    padding: 3em 1em;
}

.container{
    padding .5em;
}
#left-panel{
    /*border-right: 1px solid lightgray;*/
    background-color: rgba(0,0,0,0);
    padding: 0em;
    /*position: fixed;
    left: 0px;
    top: 0;*/
    /*z-index: 200;*/
    /*width: 300px;*/
    transition: .5s;
    overflow: auto;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    height: 180.5vh;
    /*z-index: 400;*/
    /*height: 85vh;*/
}

#top-panel{
    /*background-color: rgba(0,0,0,0);*/
    background-color: white;
    padding: .1em 2em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    transition: .5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}

#right-panel-container{
    padding-left: 0;
    height: 180.5vh;
}

#right-panel{
    /*border-right: 1px solid lightgray;*/
    background-color: rgba(0,0,0,0);
    padding: 0em;
    /*position: fixed;
    left: 0px;
    top: 0;*/
    /*z-index: 200;*/
    /*width: 300px;*/
    transition: .5s;
    overflow: auto;
    /*height: 100vh;*/
    display: flex;
    flex-direction: row;
    height: 27vh;
    /*justify-content: stretch;*/
    /*align-items: stretch;*/
    /*z-index: 400;*/
    /*height: 85vh;*/
}
#right-panel div{
    /*align-self: stretch;*/
}
#filters-holder{
    overflow: auto;
    margin: .25em;
    /*padding: .5em;*/
}

#filters-container{
    overflow: auto;
    flex-grow: 1;
    /*align-self: stretch;*/
    /*padding: .25em;*/
    background-color: white;
    /*z-index: 400;*/
    width: 80%;
}
/*
#timeline-filter-container{
    overflow: auto;
    flex-grow: 1;
    background-color: white;
    z-index: 300;
}
*/
#show-filters-button{
    /*width: 50px;*/
    background-color: #3498db;
    border: 1px solid #3498db;
    height: 50px;
    /*border-radius: .25em;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-left: .25em;*/
    font-size: 1.25em;
    cursor: hand;
}

#show-timeline-filter-button{
    /*width: 50px;*/
    background-color: #3498db;
    border: 1px solid #3498db;
    height: 50px;
    /*border-radius: .25em;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-left: .25em;*/
    font-size: 1.25em;
    cursor: hand;
}



.filter-name{
    background-color: #3498db;
    padding: .25em;
    color: white;
}


#filter-title, #apply-filters-button{
    width: 99.5%;
    /*margin-left: 1%;*/
    /*margin-bottom: .25em;*/
    text-align: center;
    background-color: #3498db;
    border-radius: 0;
    border: none;
    color: white;
    padding: .25em;
}

#apply-filters-button{
    margin-left: 0;
    margin-bottom: 0.1em;
}

.card {
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    border-radius: .1em;
    transition: 0.3s;
    /*resize: both;*/
}

.card:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

/*#show-filters-button:hover{
    background-color: rgb(22, 160, 133);
    color: white;
    transition: .1s;
}*/
#show-filters-button > div, #show-timeline-filter-button > div{
    /*transform: rotate(-90deg);*/
    padding: .5em;
}
#show-filters-button > div:hover, #show-timeline-filter-button > div:hover{
    /*transform: rotate(-90deg);*/
    cursor: hand;
}


.container{
    padding-top: .25em;
}

.filter-items-box{
    overflow: auto;
    max-height: 120px;
    padding: .2em;
}


/*@keyframes slide {
    100% { left: 0; }
}*/

/*.pusher, .pushable{
    background-color: #505050;
}*/
#heading{
    background-color: white;
    text-align: center;
    height: 2em;
}



/*div[class*="col-md-"]{
    background-color: white;
    border: .5px solid gray;
    border-radius: 10px;
    padding: 1px;
}*/

#timeline-filter, #summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0em .1em;
    margin: 0;
}
#timeline-filter{
    flex-grow: 1;
}
#summary{
    margin-bottom: .5em;
    padding: .1em;
}
#timeline-filter > div, #summary > div {
    flex-grow: 1;
    order: 1;
    /*padding: .1em;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .15em;
    
}

#summary > div{
    margin: .1em;
    padding: .1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-title{
    font-size: .5em;
    font-weight: bold;
}
.summary-number{
    font-size: 1em;
    /*font-weight: bold;*/
}
#hour-filter{
    /*flex-direction: column;*/
    /*color: #3498db;*/
    width: 200px;
    padding-left: .5em;
}
#hour-filter input{
    /*flex-direction: column;*/
    /*color: #3498db;*/
    font-size: .75em;
    height: 15px;
    width: 100px;
}
#hour-filter div{
    font-size: .75em;
    width: 100%;
    color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hour-range{
    /*color: #C2185B;*/
}

#date-filter{
    padding: 0em;
    border-right: 1px solid #3498db;
    padding-right: .5em;
}

.date-filter-item{
    /*border-right: 1px solid #3498db;*/
    color: #3498db;
    flex-grow: 1;
    padding: .25em;
    text-align: center;
    font-size: .74em;
    cursor: pointer;
    margin: .1em;

}
.date-filter-item:last-child{
    border: none;
}

#Total-date-filter-item{
   /* background-color: #3498db;
    color: white;*/
    color: #C2185B;
    border-bottom: 3px solid #C2185B;
}

#date-range{
    font-size: 1em;
    color: #3498db;
}
.bar {
    fill: #2980b9;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}

g{
    font-size: 3px;
    text-align: left;
    text-overflow: wrap;
}
/*::-webkit-scrollbar { 
    display: none; 
}*/

div.svg-holder, svg{
    background-color: white;
    /*margin-bottom: 10px;*/
    /*border-radius: 10px;*/
}

div.svg-holder svg{
    /*padding: 7px;*/
}
div.svg-holder, #left-panel{
    /*border-radius: 10px;*/
    /*box-shadow: 1px 1px 1px #bdbdbd;*/
    /*border: 1px solid #1abc9c;*/
}

#chart1, #chart2, #chart3, #chart4{
    /*height: 85vh;*/
}

#chart4-container {
    margin-top: .55vh;
}

#chart3{
    margin-top: .55vh;
}

[class*='col-md-']{
    padding: 0 .25em;
}

/*div.svg-holder svg{
    padding: 7px;
}
svg, #left-panel{
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px #bdbdbd;
    border: 1px solid #1abc9c;
}*/

#chart1{
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

.amChartsLegend {
    overflow: auto;
}



.filter-name{
    font-size: 1em;
}

.filter-item-name{
    font-size: .8em;
}

hr{
    margin: 0px;
}

/*#left-sidepane{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: lightgray;
    left: 0;
    top:0;
    display: flex;
    flex-direction: row;
    transition: left 1s;
}

#left-sidepane > #header{
    display: flex;
    height: 3em;
    flex-grow: 1;
}*/

#title-area, #toggle-button{
    height: 100%;
    background: red;
    border: 1px solid black;
    padding: .25em;
}

#title-area{
    flex-grow: 1;
    /*flex-shrink: 1;*/
}
#toggle-button{
    width: 3em;
}

.dummy{
    background-color: #3498db;
    color: white;
    text-align: center;
    margin-top: .25em;
    padding:.15em;
}

.invisible-break{
    height: .75em;
}

.active-tab{
    background-color: white;
    color: #3498db;
}

/* The starting CSS styles for the enter animation */
/*.repeated-item.ng-enter {
  /*transition: 0.5s linear all;
  opacity:0;

 The finishing CSS styles for the enter animation 
.repeated-item.ng-enter-active {
  background-color: green;
}*/


/*#sidepane-button{
    left: 0px;
    transition: 1s;
}
*/

.label {
    z-index: 1 ;
}

.highcharts-tooltip, .highcharts-tooltip span {
    background-color: white;
    opacity: 1;
    z-index: 300;
    fill: white;
    /*padding: 10px;*/
}

/*.tooltip {
    padding: 5px;
}*/