html, body, input, select, textarea
{
    font-size: 1.05em !important;
}

body {
    font-family: "Arial", sans-serif;
    /*width: 98vw;*/
    background: #F0F0F0;
    /*padding : 50px;*/
    overflow: auto;

}
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 400;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#cover{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    /*opacity: .5;*/
    background-size: cover;
    background-image: "images/loading.gif";
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-holder{
    position: absolute;
    left: 0px;
    width: 100%;
    transition: .5s;
}

#left-panel{
    /*border-right: 1px solid lightgray;*/
    background-color: white;
    padding: .25em;
    position: fixed;
    left: -242px;
    top: 0;
    z-index: 200;
    width: 300px;
    transition: .5s;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#filters-holder{
    overflow: auto;
    padding: .5em;
}

#filters-container{
    overflow: auto;
    flex-grow: 1;
    padding: .25em;
}
#show-filters-button{
    width: 50px;
    background-color: #3498db;
    border: 1px solid #3498db;
    /*border-radius: .25em;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .25em;
    font-size: 1.25em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

/*#show-filters-button:hover{
    background-color: rgb(22, 160, 133);
    color: white;
    transition: .1s;
}*/
#show-filters-button > div{
    transform: rotate(-90deg);

}

.container{
    padding-top: .25em;
}

.filter-items-box{
    overflow: auto;
    max-height: 100px;
}


/*@keyframes slide {
    100% { left: 0; }
}*/

/*.pusher, .pushable{
    background-color: #505050;
}*/
#heading{
    background-color: white;
    text-align: center;
    height: 2em;
}



/*div[class*="col-md-"]{
    background-color: white;
    border: .5px solid gray;
    border-radius: 10px;
    padding: 1px;
}*/

#timeline-filter, #summary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .25em;
}
#timeline-filter > div, #summary > div {
    flex-grow: 1;
    order: 1;
    padding: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: .25em;
}

#hour-filter{
    /*flex-direction: column;*/
}
#hour-filter div{
    width: 100%;
}

#date-filter{
    padding: 0em;
    border: 1px solid #3498db;
}
.date-filter-item{
    border-right: 1px solid #3498db;
    flex-grow: 1;
    padding: .25em;
    text-align: center;
    cursor: pointer;

}
.date-filter-item:last-child{
    border: none;
}

#Total-date-filter-item{
    background-color: #3498db;
    color: white;
}
.bar {
    fill: #2980b9;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}

g{
    font-size: 3px;
    text-align: left;
    text-overflow: wrap;
}
/*::-webkit-scrollbar { 
    display: none; 
}*/

div.svg-holder, svg{
    background-color: white;
    margin-bottom: 10px;
    /*border-radius: 10px;*/
}

div.svg-holder svg{
    padding: 7px;
}
div.svg-holder, #left-panel{
    /*border-radius: 10px;*/
    /*box-shadow: 1px 1px 1px #bdbdbd;*/
    /*border: 1px solid #1abc9c;*/
}


/*div.svg-holder svg{
    padding: 7px;
}
svg, #left-panel{
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px #bdbdbd;
    border: 1px solid #1abc9c;
}*/

#chart1{
    padding-top: 5px;
    padding-bottom: 5px;
}

.amChartsLegend {
    overflow: auto;
}



.filter-name{
    font-size: 1em;
}

.filter-item-name{
    font-size: .8em;
}

hr{
    margin: 0px;
}

/*#left-sidepane{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: lightgray;
    left: 0;
    top:0;
    display: flex;
    flex-direction: row;
    transition: left 1s;
}

#left-sidepane > #header{
    display: flex;
    height: 3em;
    flex-grow: 1;
}*/

#title-area, #toggle-button{
    height: 100%;
    background: red;
    border: 1px solid black;
    padding: .25em;
}

#title-area{
    flex-grow: 1;
    /*flex-shrink: 1;*/
}
#toggle-button{
    width: 3em;
}

/* The starting CSS styles for the enter animation */
/*.repeated-item.ng-enter {
  /*transition: 0.5s linear all;
  opacity:0;

 The finishing CSS styles for the enter animation 
.repeated-item.ng-enter-active {
  background-color: green;
}*/


/*#sidepane-button{
    left: 0px;
    transition: 1s;
}
*/

#apply-filters-button{
    width: 100%;
    margin-bottom: 1em;
    background-color: #67b7dc;
    border-color: #67b7dc;
}

.label {
    z-index: 1 ;
}

.highcharts-tooltip span {
    background-color: white;
    opacity: 1;
    z-index: 9999 ;
    /*padding: 10px;*/
}

/*.tooltip {
    padding: 5px;
}*/