
	<!-- <div id="left-sidepane">
		<div id="header">
			<div id="title-area">
				Filter
			</div>
			<div id="toggle-button" class="repeated-item">
			</div>
		</div>
		<div id="display-area" class="">
		</div>
		
	</div> -->
<!-- <div class="ui sidebar inverted vertical menu">
    <div id="filter-holder">
				<div ng-repeat="(filter_name, filter_items) in filters">
					<div class="filter-name">{{ filter_name }}</div>
					<hr/>
					<div class="list-group filter-items-box checked-list-box filter-items">
						<div class="" ng-repeat="item in filter_items">
							<input type="checkbox" for-item="{{item}}" 
								ng-click="filterChanged(this, $event)"/>
							<span class="filter-item-name">{{item}}</span>
						</div>
					</div>
				</div>
			</div>
</div>
<div class="pusher">
    <button onclick="$('.ui.sidebar').sidebar('toggle')">menu</button> -->

    <!-- <div id="left-panel" class="col-md-2">
    	
    	<div id="filters-container">
			<div id="filters-holder">
				<div ng-repeat="(filter_name, filter_items) in filters">
					<div class="filter-name">{{ filter_name }}</div>
					<hr/>
					<div class="list-group filter-items-box checked-list-box filter-items">
						<div class="" ng-repeat="item in filter_items">
							<input type="checkbox" for-item="{{item}}" 
								ng-click="filterChanged(this, $event)"/>
							<span class="filter-item-name">{{item}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		 <div id="show-filters-button" ng-click="toggleLeftPanel()">
			<div>FILTERS</div>
		</div> 

	</div> -->

	<!-- <button style="width: 100%" ng-click="toggleLeftPanel()">toggle</button> -->


	<div id="info-popup" style="visibility: hidden">testing</div>
	<div class="row">
		

		<div class="col-md-12">
			<!-- <div class="col-md-12 svg-holder">
				<div>EFAS Dashboard</div>
			</div> -->
			<div id="top-panel">
				<div id="app-title">EFAS Dashboard <span class="summary-number" id="date-range">Auslese Zeiraum: {{date_from}} - {{date_to}}</span></div>
				<!-- <div id="vehicle-summary"> -->
						<!-- <div class="summary-title">Auslese Zeiraum</div> -->
						
				<!-- </div> -->
				<div id="timeline-filter-container">
					<div id="timeline-filter" class="col-md-12 svg-holder">
						<div id="date-filter">
							<!-- <div ng-repeat="key in keys(dateFilterOptions)"> -->
							  <!-- {{key}} ==> {{Dates[key]}} -->
							<!-- </div> -->
							<span id="{{filter}}-date-filter-item" class="date-filter-item" ng-click="dateOptionSelected(this, $event)" ng-repeat="(filter, value) in dateFilterOptions">
								{{filter}}
							</span>
						</div>

						<div id="hour-filter">
							<div>
							Hours: &nbsp; &nbsp;
							<input type="text" id="hour-range" readonly style="border:0;"></div>
							<div id="slider-range"></div>
						</div>
					</div>
				</div>
				<!-- <div id="show-timeline-filter-button" ng-click="toggleTopPanel()">
					<div>Choose Date and Time</div>
				</div> --> 		
			</div>
			 <div id="left-panel" class="col-md-2 card">
    			
		    	<div id="filters-container">
					<div id="filter-title">Vorauswahl</div>
					<hr/>
					<div id="filters-holder">
						<div ng-repeat="(filter_name, filter_items) in filters">
							<div class="filter-name" style="display: flex; justify-content: space-between;align-items: center;">{{ filter_name }}
							<div>
								<i class="fa fa-search" aria-hidden="true" ng-click="show_search =! show_search; search_term = ''" ng-init="show_search = false" class="glyphicon glyphicon-search pull-right" aria-hidden="true"></i>
								<i class="fa fa-info-circle" onmouseleave="console.log('on mouse leave working');$('#info-popup').css('visibility', 'hidden');" ng-mouseenter="showFilterInfo(filter_name, $event)" aria-hidden="true"></i>
							</div>
							</div>
							<hr/>
							
							<div id="{{filter_name}}-box" class="list-group filter-items-box checked-list-box filter-items">
								<div ng-show="show_search" class="input-group">
							      <!-- <span class="input-group-btn">
							        <button class="btn btn-default" type="button">
							        	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							        </button>
							      </span> -->
							      <input type="text" class="form-control search-box" ng-init="search_term = ''" ng-model="search_term" ng-keyup="console.log($event.keyCode)" placeholder="Search">
							    </div>
								<div class="filter-item" ng-repeat="item in filter_items" id="{{filter_name}}-{{item}}" ng-show="item.toString().toLowerCase().includes(search_term.toLowerCase())">
									<input id="{{filter_name}}-{{item}}-checkbox" type="checkbox" for-item="{{item}}" 
										ng-click="filterChanged(this, $event)"/>
									<span class="filter-item-name">{{item}}</span>
								</div>
							</div>
						</div>
					</div>

					<!-- <button type="button" class="btn btn-primary" id="apply-filters-button" 
						ng-click="getReport()">
						APPLY <i class="fa fa-play" aria-hidden="true"></i>
					</button> -->
				</div>

				<!-- <div id="show-filters-button" ng-click="toggleLeftPanel()">
					<div>FILTERS</div>
				</div> -->

			</div>
			<div class="col-md-8">
				<!-- <div id="summary" class="col-md-4 svg-holder card">
					<div id="vehicle-summary">
						<div class="summary-title">Auslese Zeiraum</div>
						<div class="summary-number" id="date-range">{{date_from}} - {{date_to}}</div>
					</div>
					 <div>Auslese Zeiraum: {{date_from}} to {{date_to}}</div> 
					<div id="vehicle-summary">
						<div class="summary-title">Fahrzeuge</div>
						<div class="summary-number">{{count_vehicles}}</div>
					</div>
					<div ng-model="$scope.count_checkins" id="checkin-summary">
						<div class="summary-title">CheckIns</div>
						<div class="summary-number">{{count_checkins}}</div>
					</div>
				</div> -->
				<div id="chart1" class="col-md-6 svg-holder card">
				</div>
				<div class="col-md-6">
					<div id="chart2" class="col-md-12 svg-holder card">
					</div>
					<div id="chart3" class="col-md-12 svg-holder card">
					</div>
				</div>
				<!-- <div id="chart4-tabs" class="col-md-4">
				</div> -->
				<div id="chart4-container" class="col-md-12 svg-holder card">
					<div id="chart4-tabs">
						<div class="active-tab dummy card col-md-4">
							Single Event Fehlerspeicher
						</div>
						<div class="dummy card col-md-4">
							Auslesevorgange
						</div>
						<div class="dummy card col-md-4">
							Fahrleistung nach SVK
						</div>
					</div>
					<div id="chart4">
					</div>
				</div>
			</div>

			<div id="right-panel-container" class="col-md-2">
			
				<div id="vehicle-summary" class="col-md-12 dummy card">
					<div class="summary-title pull-left">Fahrzeuge</div>
					<div class="summary-number pull-right">{{count_vehicles}}</div>
				</div>
				<div ng-model="$scope.count_checkins" class="col-md-12 dummy card" id="checkin-summary">
					<div class="summary-title pull-left">CheckIns</div>
					<div class="summary-number-orange pull-right">{{count_checkins}}</div>
				</div>
				
				
				
				<div id="right-panel" class="col-md-12 card">
			    	<div id="filters-container">
						<div id="filter-title">Auswahlstatus</div>
						<hr/>
						<div id="filters-holder">
							<div ng-repeat="(filter_name, filter_items) in selectedFilters" ng-if="filter_name !== 'Hour' && filter_name!=='Date'">
								<div class="filter-name" style="margin-top:10px;">{{ filter_name }}
									<!-- <span ng-click="show_search =! show_search; search_term = ''" ng-init="show_search = false" class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span> -->
								</div>
								<hr/>
								
								<div id="{{filter_name}}-box" class="list-group filter-items-box checked-list-box filter-items">
									<div class="filter-item" ng-repeat="item in filter_items" style="display: flex; justify-content: space-between">
										<!-- <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> -->

										<!-- <input type="checkbox" for-item="{{item}}" 
											ng-click="filterChanged(this, $event)"/> -->
										<span class="filter-item-name">{{item}}</span>
										<i class="fa fa-times pull-tight" ng-click="filterRemoved(filter_name, item)" aria-hidden="true"></i>
										<!-- <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span> -->
									</div>
								</div>
							</div>
						</div>


					</div>


					
					<!-- <div id="show-filters-button" ng-click="toggleLeftPanel()">
						<div>FILTERS</div>
					</div> -->
				</div>
				<div class="clear-selection-heading">
					<button type="button" class="btn btn-primary dummy card clear-button" id="apply-filters-button" ng-click=clearFilters();>Auswahl aufheben</button>
				</div>
				<div class="col-md-12 dummy card travel-heading" id="filter-title">Absicherungsfahrten</div>
				
				<div class="col-md-12 invisible-break"></div>
				
				<div class="col-md-12 quick-access-wrapper" id="filter-title">
					<div class="col-md-12">Schnellzugriff:</div>
					<div class=" col-md-12 dummy card">Fehlerspeicher Rennliste <i class="fa fa-bar-chart" aria-hidden="true"></i></div>
					<div class=" col-md-12 dummy card">ALM Tickets <i class="fa fa-bar-chart" aria-hidden="true"></i></div>
					<div class=" col-md-12 dummy card">Fahrzeug Statistik <i class="fa fa-line-chart" aria-hidden="true"></i></div>
					<div class=" col-md-12 dummy card">Laufleistung Fahrzeuge <i class="fa fa-line-chart" aria-hidden="true"></i></div>
					<div class=" col-md-12 dummy card">Fehlerbehebungskontrolle <i class="fa fa-bar-chart" aria-hidden="true"></i></div>
					<div class=" col-md-12 dummy card">Fahrzeug Ubersicht <i class="fa fa-bar-chart" aria-hidden="true"></i></div>
				</div>
			</div>
	</div>
<!-- </div> -->
