<div class="row">
	<!-- <div id="sidepane" class="">
	</div>
	<div id="sidepane-button" class="">
	</div> -->
	<div class="col-md-3 filter-holder">
		<div ng-repeat="(filter_name, filter_items) in filters">
			<div class="filter-name">{{ filter_name }}</div>
			<hr/>
			<div class="list-group checked-list-box filter-items">
				<div class="" ng-repeat="item in filter_items">
					<input type="checkbox" for-item="{{item}}"/>
					<span class="filter-item-name">{{item}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div id="chart1" class="col-md-6 svg-holder">
		</div>
		<div class="col-md-6">
			<div id="chart2" class="col-md-12 svg-holder">
			</div>
			<div id="chart3" class="col-md-12 svg-holder">
			</div>
		</div>
		<div id="chart4-tabs" class="col-md-4">
		</div>
		<div id="chart4" class="col-md-8 col-md-offset-4 svg-holder">
		</div>
	</div>
</div>